* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

html, body {
    height: 100vh;
    overflow: hidden;
}

body {
    background-image: url(../assets/image-exploration.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 3.2rem;
    padding: 4rem 0 4rem 7.2rem;
}

nav a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

nav a:focus {
    font-weight: 700
}

.container,
.container h1,
button {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 10rem auto;
    padding: 10rem 0;
    height: 100vh;
}

h1 {
    font-size: 4.8rem;
    font-weight: 700;
    color: white;
}

p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 160%;
    color: white;

    width: 65rem;
    height: 20rem;
    margin-top: 1.6rem;
}
