* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

html, body {
    height: 100vh;
    overflow: hidden;
}

body {
    background-image: url(../assets/image-home.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 3.2rem;
    padding: 4rem 0 4rem 7.2rem;
}

nav a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

nav a:focus {
    font-weight: 700
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 30rem;
    height: 100vh;
}

.container h1 {
    font-size: 4.8rem;
    font-weight: 700;
    color: white;
}

.button {
    border: 2px solid #FFF;
    border-radius: .5rem;
    padding: 2rem 3.2rem;
    background-color: transparent;
    margin-top: 2.4rem;

    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;

    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #FFF;
    color: #02799D;
}
